#canvas {
  width: 100%;
  height: 97%;
  object-fit: cover;
  background-color: #498886;
}
body {
  background-color: #f5f5f5;
  padding: 0 !important;
  margin: 0 !important;
}

header {
  background-color: #8b5a2b;
}

footer {
  color: white !important;
  background: url("./images/vecteezy_abstract-cute-color-geometric-tribal-ethnic-ikat-folklore_16446427.jpg")
    no-repeat center center !important;
  background-size: cover !important;
  margin: 0;
  padding: 0;
  height: 60px;
}
#landing {
  background: url("./images/Globe \(1\).gif") no-repeat center center;
  background-size: cover;
  padding: 20px;
}

#landing h4 {
  text-align: justify;
}

.landing-box {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.62);
}
/* Animation for the first wave */
@keyframes wave1 {
  0%,
  100% {
    background-position: 0 0, 0 10px;
  }
  50% {
    background-position: 0 10px, 0 0;
  }
}

/* Animation for the second wave (opposite direction) */
@keyframes wave2 {
  0%,
  100% {
    background-position: 0 10px, 0 0;
  }
  50% {
    background-position: 0 0, 0 10px;
  }
}

#heading {
  background: url("./images/vecteezy_abstract-cute-color-geometric-tribal-ethnic-ikat-folklore_16446427.jpg")
    no-repeat center center !important;
  background-size: cover !important;
  margin: 0;
  padding: 0;
  height: 60px;
}

#map {
  margin: 0 !important;
  padding: 0 !important;
}

#section {
  margin: 0 !important;
  padding: 0 !important;
}

.floating-btn {
  position: fixed; /* Fixed position */
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  width: 60px; /* Button size */
  height: 60px; /* Button size */
  background-color: #008080; /* Green color */
  color: white;
  border-radius: 50%; /* Circular shape */
  border: none;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow for visibility */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.floating-btn:hover {
  background-color: #006666; /* Darker green on hover */
}

.floating-btn span {
  font-weight: bold;
  line-height: 1;
}
