#canvas {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the canvas scales to cover the full area */
}
body {
    background-color: #0ca5a0;
    background: url('./pattern.svg');
}